<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>

        #banner {
            height: 360px;
            width: 100%;
          object-fit:cover;
          margin-bottom: 16px;
          
        }
      
    </style>

    
    <div class="container">
    <title>Cristopher Bago Careers</title> 
    
    </head>
<body>
{% include 'nav.html' %}
  <img class="img-fluid" id="banner" src="/static/banner.jpeg" >
  

  
  <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
  

  
  <div class="row" style=margin-bottom:16px">
    <div class='col-md-6'>
  <p class='lead'>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elit sem, finibus ut facilisis pretium, consequat nec ante. Quisque consequat tristique sem, vel finibus dui dictum at. Sed fringilla risus vel consequat sagittis. Maecenas a malesuada sem. Suspendisse neque dolor, finibus eget nunc vitae, suscipit mollis libero. Integer euismod ligula in lorem lacinia, nec tempor tellus porta. Quisque molestie, dolor sed mollis tincidunt, eros ligula molestie arcu, eget condimentum nibh dui eu leo. 
  
  </p>
    </div>
    <div class='d-none d-md-block col-md-6'>
    <img src="/static/people.jpg" style="height:320px;border-radius:4px">
    </div>
  </div
  <h3 class='text-center'>Open Job Positions </h3>
  <div> 
    {% for job in jobs %}
      {% include 'jobitem.html' %}
    {% endfor %}
    </div>
  
  <div style='text-align:center;'>
      <button class='btn btn-primary btn-lg'>Contact Us</button>
     
  </div>
</div>
  {% include 'footer.html' %}
  </body>
</html>